dbbeat:
  period: 1s
  server: "DESKTOP-UBNV5QG"
  port: 1433
  user: "usuario_dev"
  password: "david"
  database: "SeusInventariosFarmacias"
  query: "EXEC spECommerceConsExistenciaSucursalesTres;"
